# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.*

# OpenAI / config secrets
config.yaml
**/config.yaml

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Git
.gitmodules